[Unit]
Description=Queued-Printing
Requires=getty.target
After=getty.target
AllowIsolate=yes

[Service]
Type=simple
ExecStart=/usr/src/queuedprinting/run.sh

[Install]
WantedBy=getty.target
